.Card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px 20px;
    background-color: #fff;
    border: 1px solid #c8ced3;
    border-radius: 0.25rem;
    margin-bottom: 30px;

    &Header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &-iconWrapper{
        width: 53px;
        height: 53px;
        border: 2px solid #FF6866;
        border-radius: 50%;
        align-items: center;
        justify-content: center;
        display: flex;
        margin-bottom: 26px;

        i{
           font-size: 24px;
           color: #FF6866;
        }

        &.yellow{
            border: 2px solid #F2CE7A ;
            i {
                color: #F2CE7A;
            }
        }

        &.blue{
            border: 2px solid #67CFCC;
            i {
                color: #67CFCC;
            }
        }
        &.darkblue{
            border: 2px solid #5C7C89;
            i {
                color: #5C7C89;
            }
        }
    }

    &-title{
        color: #000;
        font-size: 16px;
        margin-bottom: 14px;
        font-weight: 700;
        font-family: $text;
    }

    &-description{
        text-align: center;
        font-size: 12px;
        padding-bottom: 20px;
        border-bottom: 1px solid #e5e5e5;
        max-width: 312px;
        width: 100%;
        font-family: $text;
        &.padding{
            padding-bottom: 2px;
        }
        &.margin{
            margin-bottom: 38px;
        }
    }
    &-button{
        font-size: 18px;
        color: #FF6866;
        font-weight: 600;
        font-family: $text;
        text-align: center;
        display: block;
        &:hover{
            text-decoration: none;
            color: #FF6866;
        }

        &.yellow{
            color: #F2CE7A;
            &:hover{
                color: #F2CE7A;
            }
        }

        &.blue{
            color: #67CFCC;
            &:hover{
                color: #67CFCC;
            }
        }
        &.darkblue{ 
            color: #5C7C89;
            &:hover{
                color: #5C7C89;
            }
        }
    } 
    
    &-payMethodImage{
        margin-bottom: 30px;
    }

    &-payMethodTitle{
        font-size: 14px;
        font-weight: 700;
        color: #000;
        font-family: $text;
        margin-bottom: 18px;
    }

    &-payMethodText{
        text-align: center;
        font-size: 12px;
        color: #000;
        font-family: $text;
        border-bottom: 1px solid #e5e5e5;
        max-width: 312px;
        width: 100%;
        padding-bottom: 20px;
        margin-bottom: 17px;

        &.bvva{
            max-width: 307px;
            padding-bottom: 35px;
        }
    }

    &-footerWrapper{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    &-payMethodButton{
        padding: 11px 29px;
        background-color: #F2CD7A;
        color: #fff;
        border-radius: 50px;
        font-size: 14px;
        font-weight: 700;
        font-family: $text;

        &:hover{
            color: #fff;
            text-decoration: none;
        }
    }

}
.CardFooter{
    width:100%
}

input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    z-index: -1;
  }
  .check-trail {
    display: flex;
    align-items: center;
    width: 50px;
    height: 27px;
    background: #fff;
    border-radius: 2.5em;
    border: 2px solid #D2D2D2;
    transition: all .5s ease;
    cursor: pointer;
    margin-bottom: 0;
  }
  .check-handler {
    display: flex;
    margin-left: -4px;
    justify-content: center;
    align-items: center;
    width: 2.2em;
    height: 2.2em;
    background: #D2D2D2;
    border-radius: 50%;
    transition: all .5s ease;
    &:before {
      content: "\00D7";
      color: white;
      font-size: 22px;
      font-weight: bold;
      width: 30.8px;
      text-align: center;
    }
  }
  input[type="checkbox"]:checked + .check-trail {
    background: #fff;
    border: 2px solid #67CFCC;
    .check-handler {
      margin-left: 50%;
      background: #67CFCC;
      width: 2.2em;
      height: 2.2em;
      &::before {
        content: "\2713"
      }
    }
  }