.Card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 40px 20px;
  background-color: #fff;
  border: 1px solid #c8ced3;
  border-radius: 0.25rem;
  margin-bottom: 30px; }
  .Card-iconWrapper {
    width: 53px;
    height: 53px;
    border: 2px solid #FF6866;
    border-radius: 50%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 26px; }
    .Card-iconWrapper i {
      font-size: 24px;
      color: #FF6866; }
  .Card-title {
    color: #000;
    font-size: 16px;
    margin-bottom: 14px;
    font-weight: 700; }
  .Card-description {
    text-align: center;
    font-size: 12px;
    padding-bottom: 20px;
    border-bottom: 1px solid #e5e5e5;
    max-width: 274px;
    width: 100%; }
  .Card-button {
    font-size: 18px;
    color: #FF6866;
    font-weight: 600; }
    .Card-button:hover {
      text-decoration: none;
      color: #FF6866; }

.Card-yellow {
  border: 2px solid #F2CE7A; }
  .Card-yellow i {
    color: #F2CE7A; }
  .Card-yellow-button {
    color: #F2CE7A; }
    .Card-yellow-button:hover {
      color: #F2CE7A; }

.Card-blue {
  border: 2px solid #67CFCC; }
  .Card-blue i {
    color: #67CFCC; }
  .Card-blue-button {
    color: #67CFCC; }
    .Card-blue-button:hover {
      color: #67CFCC; }

.Card-darkBlue {
  border: 2px solid #5C7C89; }
  .Card-darkBlue i {
    color: #5C7C89; }
  .Card-darkBlue-button {
    color: #5C7C89; }
    .Card-darkBlue-button:hover {
      color: #5C7C89; }

.Card-text-description {
  padding-bottom: 2px; }
